<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApiConfiguration" type="Itinero.API.Configurations.ApiConfiguration, Itinero.API" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <ApiConfiguration>
    <instances>
      <add name="default" routerdb="C:\work\data\routing\belgium.c.cf.routing"/>
    </instances>
  </ApiConfiguration>
</configuration>