<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.2" targetFramework="net45" />
  <package id="GTFS" version="0.0.3.61-beta" targetFramework="net45" />
  <package id="Nancy" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.21.1" targetFramework="net40" />
  <package id="NetTopologySuite" version="1.13.2" targetFramework="net45" />
  <package id="OsmSharp" version="4.3.0.878-beta" targetFramework="net45" />
  <package id="OsmSharp.Transit" version="0.1.0.44-beta" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="net45" />
</packages>